# requirements.txt for AirlineReviewAnalyzer

# Web scraping libraries
requests>=2.31.0
beautifulsoup4>=4.12.3

# Data manipulation and analysis
pandas>=2.2.1

# Natural Language Processing (NLP) and sentiment analysis
nltk>=3.8.1

# Data visualization
matplotlib>=3.8.3